astroid==2.3.3
backcall==0.2.0
certifi==2020.6.20
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
future==0.18.2
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.2
opencv-python==4.4.0.44
parso==0.7.1
pickleshare==0.7.5
Pillow==8.0.0
prompt-toolkit==3.0.7
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
pywin32==228
pyzmq==19.0.2
six==1.14.0
torch==1.6.0+cpu
torchvision==0.7.0+cpu
tornado==6.0.4
traitlets==5.0.4
wcwidth==0.2.5
wincertstore==0.2
wrapt==1.11.2
